.header-nav
  a(href="#").header-nav__logo
    img(src="./images/main-header__logo-image.png", alt="Logo")
  
  ul.header-nav__menu
      li
        a(href="#").header-nav__link How it works
      li
        a(href="#").header-nav__link Pressroom
      li
        a(href="#").header-nav__link Team
      li
        a(href="#").header-nav__link FAQ
      li
        a(href="#").header-nav__link Contact

  .header-nav__cabinet
    a(href="#").header-nav__link Sign in
    a(href="#").header-nav__link.nav-link__registration Register

        