@@include('_head.html')

<header class="entry">
  <div class="entry-wrapper">
    <div class="entry-wrapper--header">
      <div class="entry-header--logo">
        <img src="./images/header/header-logo.png" alt="Logo" />
      </div>

      <nav class="entry-header--nav">
        <img src="./images/header/header-menu.png" alt="Image" />
      </nav>
    </div>

    <div class="entry-wrapper--body">
      <h1>
        Earn Secure Profits From Crypto Price Differences
      </h1>

      <div class="entry-body--video">
        <video
          poster="./images/entry-video--poster.png"
          playsinline
          controls
          class="js-player"
          preload="none"
        >
          <!-- <source src="./images/header/aboutUs/video.mp4" type="video/mp4"/> -->
        </video>
      </div>

      <ul>
        <li>
          <strong>Earn secure profits</strong> with our enterprise level
          arbitrage AI.
        </li>
        <li>
          <strong> Stay in control</strong> with easily customisable trade
          settings.
        </li>
        <li>
          <strong>All your assets</strong> are fully insured against hackers.
        </li>
      </ul>

      <a href="#" class="btn">
        Try Our Demo!
      </a>
    </div>

    <div class="entry-wrapper--footer">
      <ul>
        <li>
          <a href="#">
            <img src="./images/header/campaign_1.png" alt="campaign_1" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/header/campaign_2.png" alt="campaign_2" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/header/campaign_3.png" alt="campaign_3" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/header/campaign_4.png" alt="campaign_4" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/header/campaign_5.png" alt="campaign_5" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/header/campaign_6.png" alt="campaign_6" />
          </a>
        </li>
      </ul>

      <p>
        We work with the best exchanges on the market
      </p>
    </div>
  </div>
</header>
