@@include('_head.html')

<header class="entry">
  <div class="entry-wrapper">
    <div class="entry-wrapper--header">
      <div class="entry-header--logo">
        <a href="#">
          <img src="./images/header/header-logo.png" alt="Logo" />
        </a>
      </div>

      <nav class="entry-header--nav">

        <ul class="entry-nav--burger js_entry-nav--btn visible-then-lg">

          <span class="entry-burger--text">
            close menu
          </span>

          <div class="entry-btn--wrapper">
            <div class="entry-nav--btn">
              <span></span>
            </div>
          </div>

          <a href="#" class="btn">
            Register
          </a>
        </ul>

        <ul class="entry-nav--menu">
          <li>
            <a href="#">
              How it works
            </a>
          </li>
          <li>
            <a href="#">
              Pressroom
            </a>
          </li>
          <li>
            <a href="#">
              Team
            </a>
          </li>
          <li>
            <a href="#">
              FAQ
            </a>
          </li>
          <li>
            <a href="#">
              Contact
            </a>
          </li>
          <li class="entry-menu-item--lang visible-then--lg">
            <a href="#">
              Eng
            </a>
          </li>
        </ul>
        <ul class="entry-nav--cabinet">
          <li>
            <a href="#">
              Sign in
            </a>
          </li>
          <li>
            <a href="#" class="btn">
              Register
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="entry-wrapper--body js_entry--body">
      <h1 class="visible-then--lg">
        Earn Secure Profits From Crypto Price Differences
      </h1>

      <div class="entry-body--media">
        <div class="entry-body--video">
          <video
            poster="./images/video-poster.png"
            playsinline
            controls
            class="js_player"
            preload="none"
          >
            <!-- <source src="./images/header/aboutUs/video.mp4" type="video/mp4"/> -->
          </video>
        </div>
      </div>

      <div class="entry-body--content">
        <h1 class="hidden-then--lg">
          Earn Secure Profits From Crypto Price Differences
        </h1>

        <ul>
          <li>
            <strong>Earn secure profits</strong> with our enterprise level
            arbitrage AI.
          </li>
          <li>
            <strong> Stay in control</strong> with easily customisable trade
            settings.
          </li>
          <li>
            <strong>All your assets</strong> are fully insured against hackers.
          </li>
        </ul>

        <a href="#" class="btn">
          Try Our Demo!
        </a>
      </div>
    </div>

    <div class="entry-wrapper--footer js_entry--footer">
      <ul>
        <li>
          <a href="#">
            <picture>
              <source
                srcset="./images/header/campaign_desktop_1.png"
                media="(min-width: 960px)"
              />
              <img src="./images/header/campaign_1.png" alt="campaign_1" />
            </picture>
          </a>
        </li>
        <li>
          <a href="#">
            
            <picture>
              <source
                srcset="./images/header/campaign_desktop_2.png"
                media="(min-width: 960px)"
              />
              <img src="./images/header/campaign_2.png" alt="campaign_2" />
            </picture>
          </a>
        </li>
        <li>
          <a href="#">
            <picture>
              <source
                srcset="./images/header/campaign_desktop_3.png"
                media="(min-width: 960px)"
              />
              <img src="./images/header/campaign_3.png" alt="campaign_3" />
            </picture>
          </a>
        </li>
        <li>
          <a href="#">
            <picture>
              <source
                srcset="./images/header/campaign_desktop_4.png"
                media="(min-width: 960px)"
              />
              <img src="./images/header/campaign_4.png" alt="campaign_4" />
            </picture>
          </a>
        </li>
        <li>
          <picture>
            <source
              srcset="./images/header/campaign_desktop_5.png"
              media="(min-width: 960px)"
            />
            <img src="./images/header/campaign_5.png" alt="campaign_5" />
          </picture>
        </li>
        <li class="visible-then--lg">
          <a href="#">
            <img src="./images/header/campaign_6.png" alt="campaign_6" />
          </a>
        </li>
      </ul>

      <p>
        We work with the best exchanges on the market
      </p>
    </div>
  </div>
</header>
