<section class="benefits">
  <div class="benefits-wrapper">
    <h2>
      What You Will Get
    </h2>

    <div class="benefits-wrapper--header">
      <div class="benefits-header--block">
        <img src="./images/benefits/icon-light.png" alt="light">
        <p>
          24 cryptocurrency exchanges get monitored 24/7
        </p>
      </div>
      <div class="benefits-header--block">
        <img src="./images/benefits/icon-swap.png" alt="swap">
        <p>
          Price differences in 80 currency pairs get monetised
        </p>
      </div>
      <div class="benefits-header--block">
        <img src="./images/benefits/icon-chart.png" alt="chart">
        <p>
          Artificial Intelligence calculates the arbitrage time window
        </p>
      </div>
      <div class="benefits-header--block">
        <img src="./images/benefits/icon-shield.png" alt="shield">
        <p>
          Capital on all exchanges to avoid inter-exchange transactions
        </p>
      </div>
      <div class="benefits-header--block">
        <img src="./images/benefits/icon-cheap.png" alt="cheap">
        <p>
          All trades get executed instantly and fully automatically
        </p>
      </div>
    </div>

    <div class="benefits-wrapper--body">
      <div class="benefits-body--block">
        <h3>
          Earn Steady Profits
        </h3>
        <p>
          Our trading engine works 24/7, 356 days a year. No matter if it’s raining or the sun is shining – BitBunch is getting returns for you. 99.99% uptime, guaranteed! 
        </p>
      </div>
      <div class="benefits-body--block">
        <h3>
          Be Fully Insured
        </h3>
        <p>
          All the coins that you send to BitBunch are fully insured against hackers and other malicious attacks. Also if they are stored in any of our integrated exchanges.
        </p>
      </div>
      <div class="benefits-body--block">
        <h3>
          Stay in Control
        </h3>
        <p>
          You always have full control over all the assets that you trade with BitBunch. Not satisfied with our service? Just send them back to your wallet. No questions asked! 
        </p>
      </div>
    </div>

    <div class="benefits-wrapper--footer">
      <a href="#" class="btn">
        Start demo
      </a>
      <a href="#">
        LEARN MORE
      </a>
    </div>
  </div>
</section>