<footer class="footer-top js_footer-page">
  <div class="footer-top--wrapper">
    <div class="footer-top--header">
      <h6>
        One more thing
      </h6>

      <h2>
        We Earn Only if You Earn
      </h2>

      <p>
        $
        <strong>
          O
        </strong>
      </p>

      <span>
        Upfront costs for you.
      </span>

      <div class="footer-header--block">
        <div class="footer-block--wrapper">
          <div>
            <span>
              We want to be fair with you
            </span>

            <p>
              We only take <i class="text-warning">3</i> % -
              <i class="text-warning">30</i>% from your profit with no hidden
              fees. No costs, guaranteed.
            </p>
          </div>

          <a href="#" class="btn">
            Let's earn together
          </a>
        </div>

        <a href="#" class="footer-block--link hidden-then--md">
          Learn more
        </a>
      </div>
    </div>

    <div class="footer-top--body">
      <div class="footer-body--block">
        <h4>
          Support
        </h4>

        <a href="mailto:hello@bitbunch.co" class="footer-link--big">
          hello@bitbunch.co
        </a>

        <a href="tel:+447911257986" class="footer-link--big">
          +44 7911 257986
        </a>

        <p class="footer-text--bg">
          Mo-Fr <span class="text-purpule">9-18</span>
        </p>
      </div>

      <div class="footer-body--block">
        <h4>
          Our product
        </h4>

        <a href="#">
          How it works
        </a>

        <a href="#">
          About us
        </a>

        <a href="#">
          Support
        </a>

        <a href="#">
          F.A.Q.
        </a>
      </div>

      <div class="footer-body--block mb-mob-0">
        <h4>
          Company
        </h4>

        <a href="#">
          Pressroom
        </a>

        <a href="#">
          Contact
        </a>

        <a href="#">
          Career
        </a>

        <a href="#">
          Team
        </a>
      </div>

      <div class="footer-body--block mb-mob-0">
        <h4>
          Legal
        </h4>

        <a href="#">
          Terms & Conditions
        </a>

        <a href="#">
          Privacy Policy
        </a>

        <a href="#">
          Imprint
        </a>

        <a href="#">
          GDPR
        </a>
      </div>
    </div>

    <div class="footer-top--bottom">
      <div class="footer-bottom--wrapper">
        
        <ul class="footer-bottom--links">
          <li>
            <a href="#">
              <img src="./images/footer/icon-google.png" alt="icon-google" />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="./images/footer/icon-instagram.png"
                alt="icon-instagram"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/footer/icon-facebook.png" alt="icon-facebook" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/footer/icon-linkedIn.png" alt="icon-linkedIn" />
            </a>
          </li>
        </ul>
  
        <p>
          © 2018 Bitbunch | All rights reserved
        </p>
  
        <a href="#">
          <img src="./images/footer/footer-logo.png" alt="Logo" />
        </a>
      </div>
    </div>
  </div>
</footer>
