<section class="founders">
  <div class="founders-wrapper">
    <div class="founders-wrapper--header">
      <h2>
        Our Founders
      </h2>

      <p>
        Listen to our founders, Greg, Paul and James talk about our technology and the future of BitBunch.
      </p>
    </div>
    <div class="founders-wrapper--body">
      <div class="founders-body--media">
        <video poster="./images/video-poster.png" playsinline controls class="js-player" preload="none">
          <!-- <source src="./images/header/aboutUs/video.mp4" type="video/mp4"/> -->
      </video>
      </div>
    </div>
  </div>
</section>
