<section class="works">
  <div class="works-wrapper">
    <div class="works-wrapper--header">
      <h2>
        How it Works
      </h2>

      <p>
        BitBunch automatically exploits price differences for one cryptocurrency
        between different exchanges.
      </p>
    </div>
    <div class="works-wrapper--body">
      <div class="works-body--block">
        <h3>
          1. Detect Price Differences
        </h3>
        <p>
          The BitBunch Arbitrage Engine is directly connected to 36 exchanges
          and finds price differences in over 80 different currency pairs.
        </p>
      </div>
      <div class="works-body--block">
        <h3>
          2. evaluate Arbitrage Window
        </h3>
        <p>
          Once a price difference got detected, our AI calculates how long it
          will persist and if the trade can be executed fast enough.
        </p>
      </div>
      <div class="works-body--block">
        <h3>
          3. earn secure profits
        </h3>
        <p>
          If the arbitrage window is big enough, the BitBunch Trading Engine
          places all orders in real-time to earn you secure profits fully
          automated.
        </p>
      </div>
    </div>
    <div class="works-wrapper--footer">
      <a href="#" class="btn">
        Start demo
      </a>
      <a href="#">
        LEARN MORE
      </a>
    </div>
  </div>
</section>
