<section class="media">
  <div class="mdeia-wrapper">
    <div class="media-wrapper--header">
      <h2>
        BitBunch in The Media
      </h2>

      <p>
        Discover what people are saying about us.
      </p>
    </div>

    <div class="media-wrapper--body">
      <div class="media-body--block">
        <div class="media-block--header">
          <img src="./images/media/img_6.jpg" alt="Image" />

          <span class="bg-color--blue">
            New Event
          </span>
        </div>

        <div class="media-block--body">
          <h3>
            Meet 100+ Top Industry Experts
          </h3>

          <p>
            Join us at the International Conference, Oct 28-29, 2018 in Zurich,
            Switzerland. Register now and save up to 38% with early rates! 100+
            Global Speakers. Networking Opportunities. Extended 3 Track Program.
          </p>

          <time datetime="28.09.2018">28.09.2018</time>
        </div>
      </div>

      <div class="media-body--slider js_media-body--slider">
        <div class="media-body--block js_media-slider--block">
          <div class="media-block--header">
            <img src="./images/media/img_1.jpg" alt="Image" />

            <span class="bg-color--warning">
              Interview
            </span>
          </div>

          <div class="media-block--body">
            <h4>
              Blockchain 3.0?
            </h4>

            <time datetime="20.09.2018">20.09.2018</time>
          </div>
        </div>
        <div
          class="media-body--block js_media-slider--block size-desktop--big mr-tablet--0 hidden-then--lg"
        >
          <div class="media-block--header">
            <img src="./images/media/img_6.jpg" alt="Image" />

            <span class="bg-color--blue">
              New Event
            </span>
          </div>

          <div class="media-block--body">
            <h3>
              Meet 100+ Top Industry Experts
            </h3>

            <p>
              Join us at the International Conference, Oct 28-29, 2018 in Zurich,
              Switzerland. Register now and save up to 38% with early rates! 100+
              Global Speakers. Networking Opportunities. Extended 3 Track Program.
            </p>
  
            <time datetime="28.09.2018">28.09.2018</time>
          </div>
        </div>
        <div
          class="media-body--block js_media-slider--block mr-tablet--0 mr-desktop--0"
        >
          <div class="media-block--header">
            <img src="./images/media/img_3.jpg" alt="Image" />

            <span class="bg-color--orange">
              Partners
            </span>
          </div>

          <div class="media-block--body">
            <h4>
              G20 Crypto Regulations
            </h4>

            <time datetime="21.09.2018">21.09.2018</time>
          </div>
        </div>
        <div class="media-body--block js_media-slider--block translateY-desktop--top">
          <div class="media-block--header">
            <img src="./images/media/img_4.jpg" alt="Image" />

            <span class="bg-color--orange">
              Partners
            </span>
          </div>

          <div class="media-block--body">
            <h4>
              Ripple Grapples
            </h4>

            <time datetime="15.09.2018">15.09.2018</time>
          </div>
        </div>
        <div class="media-body--block js_media-slider--block size-desktop--big hidden-then--lg ">
          <div class="media-block--header">
            <img src="./images/media/img_2.jpg" alt="Image" />

            <span class="bg-color--orange">
              Regulation
            </span>
          </div>

          <div class="media-block--body">
            <h4>
              Regulating the new economy
            </h4>

            <time datetime="20.09.2018">20.09.2018</time>
          </div>
        </div>
        <div
          class="media-body--block js_media-slider--block mr-tablet--0 mr-desktop--0 translateY-desktop--top"
        >
          <div class="media-block--header">
            <img src="./images/media/img_5.jpg" alt="Image" />

            <span class="bg-color--warning">
              Interview
            </span>
          </div>

          <div class="media-block--body">
            <h4>
              Who affect BTC price?
            </h4>

            <time datetime="13.09.2018">13.09.2018</time>
          </div>
        </div>
      </div>

      <input
        type="range"
        min="0"
        max="0"
        step="1"
        value="0"
        class="media-body--scroll js_media-body--scroll"
      />
    </div>

    <div class="media-wrapper--footer">
      <a href="#">
        More Articles
      </a>
    </div>
  </div>
</section>
