<section class="statistic">
  <div class="statistic-wrapper">
    <div class="statistic-wrapper--header">
      <h6>
        The numbers speak for themselves
      </h6>

      <h3>
        Bitbunch in Stats
      </h3>
    </div>
    <div class="statistic-wrapper--body">
      <div class="statistic-body--block">
        <img src="./images/statistic/icon-money.png" alt="Money" />

        <h5>
          $2,856,780
        </h5>

        <p>
          Invested funds
        </p>
      </div>

      <div class="statistic-body--block">
        <img src="./images/statistic/icon-camera.png" alt="camera" />

        <h5>
          786 521
        </h5>

        <p>
          profitable trades
        </p>
      </div>

      <div class="statistic-body--block">
        <img src="./images/statistic/icon-users.png" alt="users" />

        <h5>
          10.34%
        </h5>

        <p>
          avg. Profit per Month
        </p>
      </div>
    </div>
  </div>
</section>
