<section class="team">
  <div class="team-wrapper">
    <div class="team-wrapper--header">
      <h2>
        Our Team
      </h2>

      <p>
        Meet the team members behind BitBunch
      </p>
    </div>

    <div class="team-wrapper--body">
      <div class="team-body--slider js_team-body--slider">
        <div class="team-body--block js_team-slider--block">
          <div class="team-block--header">
            <h3>
              James Grade
            </h3>

            <h4>
              CEO
            </h4>
          </div>

          <div class="team-block--body">
            <img
              src="./images/team/team_1.jpg"
              class="team-member--img"
              alt="James Grade"
            />

            <p>
              I believe that there is an immense potential in the whole current
              cryptocurrency market
            </p>

            <div class="team-body--links">
              <a href="#">
                <img src="./images/team/icon-twitter.png" alt="twitter" />
              </a>

              <a href="#">
                <img src="./images/team/icon-linkedIn.png" alt="linkedIn" />
              </a>
            </div>
          </div>
        </div>
        <div class="team-body--block js_team-slider--block">
          <div class="team-block--header">
            <h3>
              Julian Sydney
            </h3>

            <h4>
              CMO
            </h4>
          </div>

          <div class="team-block--body">
            <img
              src="./images/team/team_2.jpg"
              class="team-member--img"
              alt="James Grade"
            />

            <p>
              I believe that there is an immense potential in the whole current
              crypto market
            </p>

            <div class="team-body--links">
              <a href="#">
                <img src="./images/team/icon-linkedIn.png" alt="linkedIn" />
              </a>
            </div>
          </div>
        </div>
        <div class="team-body--block js_team-slider--block">
          <div class="team-block--header">
            <h3>
              Noel Jacobson
            </h3>

            <h4>
              CTO
            </h4>
          </div>

          <div class="team-block--body">
            <img
              src="./images/team/team_3.jpg"
              class="team-member--img"
              alt="James Grade"
            />

            <p>
              I believe that there is an immense potential in the whole current
              crypto market
            </p>

            <div class="team-body--links">
              <a href="#">
                <img src="./images/team/icon-twitter.png" alt="twitter" />
              </a>

              <a href="#">
                <img src="./images/team/icon-linkedIn.png" alt="linkedIn" />
              </a>
            </div>
          </div>
        </div>
        <div class="team-body--block js_team-slider--block">
          <div class="team-block--header">
            <h3>
              Adella Evelyn
            </h3>

            <h4>
              PR Manager
            </h4>
          </div>

          <div class="team-block--body">
            <img
              src="./images/team/team_4.jpg"
              class="team-member--img"
              alt="James Grade"
            />

            <p>
              I believe that there is an immense potential in the whole current
              crypto market
            </p>

            <div class="team-body--links">
              <a href="#">
                <img src="./images/team/icon-twitter.png" alt="twitter" />
              </a>

              <a href="#">
                <img src="./images/team/icon-linkedIn.png" alt="linkedIn" />
              </a>
            </div>
          </div>
        </div>
        <div class="team-body--block js_team-slider--block">
          <div class="team-block--header">
            <h3>
              Jerrie Kay
            </h3>

            <h4>
              Head of Development
            </h4>
          </div>

          <div class="team-block--body">
            <img
              src="./images/team/team_5.jpg"
              class="team-member--img"
              alt="James Grade"
            />

            <p>
              I believe that there is an immense potential in the whole current
              crypto market
            </p>

            <div class="team-body--links">
              <a href="#">
                <img src="./images/team/icon-linkedIn.png" alt="linkedIn" />
              </a>
            </div>
          </div>
        </div>
        <div class="team-body--block js_team-slider--block">
          <div class="team-block--header">
            <h3>
              Allie William
            </h3>

            <h4>
              Head of Customer Care
            </h4>
          </div>

          <div class="team-block--body">
            <img
              src="./images/team/team_6.jpg"
              class="team-member--img"
              alt="James Grade"
            />

            <p>
              I believe that there is an immense potential in the whole current
              crypto market
            </p>

            <div class="team-body--links">
              <a href="#">
                <img src="./images/team/icon-twitter.png" alt="twitter" />
              </a>

              <a href="#">
                <img src="./images/team/icon-linkedIn.png" alt="linkedIn" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <input
        type="range"
        min="0"
        max="0"
        step="1"
        value="0"
        class="team-body--scroll js_team-body--scroll"
      />
    </div>

    <div class="team-wrapper--footer">
      <a href="#">
        All Team Members
      </a>
    </div>
  </div>
</section>
