$brand-black: #000;
$brand-white: #fff;
$brand-default: #e1e1e1;
$brand-success: #00ab46;
$brand-danger: #8b2323;
$brand-warning: #fa8f68;
$brand-primary: blue;
$brand-purpule: #8b0bff;

.text-warning {
  color: $brand-warning;
}

.text-purpule {
  color: $brand-purpule;
}

.bg-color--orange {
  background-color: #ffa72e;
}

.bg-color--warning {
  background: #fa8f68;
}

.bg-color--blue {
  background-color: #324ea3;
}

.bg-color--blue-light {
  background-color: #5fbbff;
}
