.mb-mob-0 {
  @media (max-width: $md) {
    margin-bottom: 0 !important;
  }
}

.mr-tablet--0 {
  @media (min-width: $md) {
    margin-right: 0 !important;
  }
}

.hidden-then--md {
  display: none;
  @media (min-width: $md) {
    display: block;
  }
}
