/* Обёртка для блока: main-wrapper*/

.main-header {
  background: url(./images/main-header-bg-desktop.png) center no-repeat;
  background-size: cover;

  /* Обёртка для блока: header-content*/
  &__wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-top: rem(50px);
    padding-bottom: rem(146px);
    width: 100%;
    max-width: rem(1200px);
  }

  /* Обёртка для блока: header-content__text и header-content__media*/
  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;

    /* Обёртка контента внутри блока header-content__text*/
    &__text {
      width: 100%;
      max-width: rem(586px);

      h1 {
        margin-bottom: rem(30px);
        font-family: $second-font-bold;
        font-size: rem(50px);
        line-height: rem(62px);
        color: $white;
        text-shadow: 0px rem(1px) rem(3px) rgba(27, 48, 110, .5);
      }

      li {
        position: relative;
        margin-bottom: rem(14px);
        padding-left: rem(46px);
        width: 100%;
        max-width: rem(402px);

        &:last-of-type {
          margin-bottom: rem(67px);
        }

        &::before {
          content: "";
          position: absolute;
          top: rem(5px);
          left: 0;
          width: rem(28px);
          height: rem(28px);
          background: url(./images/main-header__description-item-decor.png)
            center no-repeat;
          background-size: contain;
        }
      }

      p {
        font-family: $main-font-regular;
        font-size: rem(20px);
        line-height: rem(32px);
        color: $white;

        strong {
          font-family: $main-font-extra-bold !important;
        }
      }

      a {
        display: block;
        padding-top: rem(17px);
        padding-bottom: rem(20px);
        width: 100%;
        max-width: rem(250px);
        border-radius: rem(3px);
        background: #fa8f68;
        font-family: $main-font-extra-bold;
        font-size: rem(18px);
        line-height: rem(23px);
        text-align: center;
        text-transform: uppercase;
        color: $white;
        transition: .4s ease;

        &:hover {
          background-color: darken($orange, 10%);
        }

        &:active {
          background-color: darken($orange, 20%);
          color: $white;
          transition: 0s;
        }
      }
    }

    /* Обёртка контента внутри блока header-content__media*/
    &__media {
      position: relative;
      width: 100%;
      max-width: rem(529px);

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem(34px);
        height: rem(45px);
        background: url(./images/main-header__video-play-button.png) center
          no-repeat;
        background-size: contain;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@import "./main-header-tablet.scss";

@import "./main-header-mobile.scss";
