section.main-header
    .main-header__wrapper
        include ../../components/main-nav/main-nav

        .header-content
            .header-content__text
                h1 Earn Secure Profits From Crypto Price Differences

                ul
                    li 
                        p Earn secure profits with our enterprise level arbitrage AI. 
                    
                    li 
                        p Stay in control with easily customisable trade settings.
                    li 
                        p All your assets are fully insured against hackers.

                a(href="#") Try Our Demo!
            

            .header-content__media

                video(src="./video/header-video.mp4").header-media__video