extends ../../templates/home

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block content
    include ../../blocks/main-header/main-header
    div Шаблон для верстки
    include ../../blocks/main-footer/main-footer
    
    
