.works {
  padding-top: 48px;
  padding-bottom: 100px;

  @media (min-width: $md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &-wrapper {
    width: 100%;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;

    @media (min-width: $md) {
      max-width: calc(100% - 100px);
    }

    &--header {
      margin-bottom: 32px;

      @media (min-width: $md) {
        margin-bottom: 48px;
      }

      h2 {
        font-family: "Hind Siliguri", sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.45;
        text-align: center;
        color: #43425f;
        margin-bottom: 5px;

        @media (min-width: $md) {
          font-size: 36px;
          line-height: 1.3;
          margin-bottom: 14px;
        }
      }

      p {
        font-family: "Sarabun", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.83;
        text-align: center;
        width: 100%;
        color: rgba(#43425f, 0.8);

        @media (min-width: $md) {
          font-size: 16px;
          line-height: 1.62;
          max-width: 490px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &--body {
      .works-body--block {
        margin-bottom: 32px;

        @media (min-width: $md) {
          margin-bottom: 48px;
        }

        h3 {
          font-family: "Sarabun", sans-serif;
          font-weight: bold;
          font-size: 14px;
          line-height: 2.21;
          text-transform: uppercase;
          color: rgba(#324ea3, 0.8);
          margin-bottom: 8px;

          @media (min-width: $md) {
            font-size: 18px;
            line-height: 1.72;
            margin-bottom: 11px;
          }
        }

        p {
          font-family: "Sarabun", sans-serif;
          font-size: 12px;
          line-height: 2;
          color: rgba(#616884, 0.8);
          @media (min-width: $md) {
            font-size: 16px;
            line-height: 1.81;
          }
        }
      }
    }

    &--footer {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        &:last-of-type {
          font-family: "Sarabun", sans-serif;
          font-weight: bold;
          font-size: 12px;
          line-height: 1.5;
          text-align: center;
          text-transform: uppercase;
          color: #5e74b7;
          margin-left: 20px;

          &:hover {
            text-decoration: underline;
          }

          @media (min-width: $md) {
            font-size: 18px;
            line-height: 23px;
            margin-left: 40px;
          }
        }
      }
    }
  }
}
