<div class="entry-wrapper--header">
  <div class="entry-header--logo">
    <a href="#">
      <img src="./images/header/header-logo.png" alt="Logo" />
    </a>
  </div>

  <nav class="entry-header--nav">
    <ul class="entry-nav--burger js_entry-nav--btn visible-then-lg">
      <li class="entry-burger--text">
        <span>
          close menu
        </span>
      </li>

      <li class="entry-btn--wrapper">
        <div class="entry-nav--btn">
          <span></span>
        </div>
      </li>

      <li>
        <a href="#" class="btn">
          Register
        </a>
      </li>
    </ul>

    <ul class="entry-nav--menu">
      <li>
        <a href="#">
          How it works
        </a>
      </li>
      <li>
        <a href="#">
          Pressroom
        </a>
      </li>
      <li>
        <a href="#">
          Team
        </a>
      </li>
      <li>
        <a href="#">
          FAQ
        </a>
      </li>
      <li>
        <a href="#">
          Contact
        </a>
      </li>
      <li class="entry-menu-item--lang visible-then--lg">
        <a href="#">
          Eng
        </a>
      </li>
    </ul>
    <ul class="entry-nav--cabinet">
      <li>
        <a href="#">
          Sign in
        </a>
      </li>
      <li>
        <a href="#" class="btn">
          Register
        </a>
      </li>
    </ul>
  </nav>
</div>
