<div class="entry-wrapper--body js_entry--body">
  <h1 class="visible-then--lg">
    Earn Secure Profits From Crypto Price Differences
  </h1>

  <div class="entry-body--media">
    <div class="entry-body--video">
      <video
        poster="./images/video-poster.png"
        playsinline
        controls
        class="js_player"
        preload="none"
      >
        <!-- <source src="./images/header/aboutUs/video.mp4" type="video/mp4"/> -->
      </video>
    </div>
  </div>

  <div class="entry-body--content">
    <h1 class="hidden-then--lg">
      Earn Secure Profits From Crypto Price Differences
    </h1>

    <ul>
      <li>
        <strong>Earn secure profits</strong> with our enterprise level
        arbitrage AI.
      </li>
      <li>
        <strong> Stay in control</strong> with easily customisable trade
        settings.
      </li>
      <li>
        <strong>All your assets</strong> are fully insured against hackers.
      </li>
    </ul>

    <a href="#" class="btn">
      Try Our Demo!
    </a>
  </div>
</div>